<h1>Empresa: {{ company.name }}</h1>
<h2>Proyecto: {{ project.description }}</h2>
<h3>Hallazgo: {{ finding.identifier }}</h3>

  <table class="table">
    <thead>
    </thead>
    <tbody>
      <tr>
        <td>Descripci&oacute;n</td>
        <td><p>{{ finding.description }}</p></td>
        <td><a (click)="editDescription()"><img src="./assets/images/edit-32x32.png" alt="" title="Detalle" border="0" width=32 height=32 /></a></td>

      </tr>
      <tr>
        <td>Comentarios</td>
        <td><p>{{ finding.comment }}</p></td>
        <td><a (click)="editComment()"><img src="./assets/images/edit-32x32.png" alt="" title="Detalle" border="0" width=32 height=32 /></a></td>

      </tr>
      <tr>
        <td>Imagen</td>
        <td><img class="img-fluid" src="{{ finding.image }}" alt="evidencia" /></td>
        <td><a (click)="editImage()"><img src="./assets/images/edit-32x32.png" alt="" title="Detalle" border="0" width=32 height=32 /></a></td>

      </tr>
      <tr>
        <td>Estado</td>
        <td><p>{{ finding.findingState.description }}</p></td>
        <td><a (click)="editStatus()"><img src="./assets/images/edit-32x32.png" alt="" title="Detalle" border="0" width=32 height=32 /></a></td>

      </tr>
      <tr>
        <td>Fecha</td>
        <td><p>{{ finding.date | date:'dd-MMM-yyyy HH:mm' }}</p></td>
        <td><a><img src="./assets/images/edit-32x32.png" alt="" title="Detalle" border="0" width=32 height=32 /></a></td>

      </tr>
    </tbody>
  </table>

  <alert></alert>
  <ngx-spinner name="sp3" [fullScreen]="true" type="ball-spin-clockwise" size="medium" bdColor="rgba(51,51,51,0.0)" color="#00f"></ngx-spinner>




